<div class="container">
    <div>
    <h2>Modifier Star :</h2>
    </div>
    <form >
    <div hidden class="col-sm-2 col-md-2 col-lg-2">
    <label >ID Star</label>
    <input type="text" [(ngModel)]="currentStar.idStar"
    name="idStar" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4" >
    <label >Nom Star</label>
    <input type="text"[(ngModel)]= "currentStar.nameStar"
    name="nomPStar" class="form-control">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
    <label >Age</label>
    <input type="number" [(ngModel)]= "currentStar.age"
    name="age" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
    <label >Date de la découverte</label>
    <input type="date" [ngModel]="currentStar.dateDiscovered | date: 'yyyy-MM-dd'" (ngModelChange)=" currentStar.dateDiscovered= $event" name="dateDiscovered" class="form-control">
</div>
<div class="mt-2">
<button type="submit" (click)="updateStar()" class="btn btn-success">Modifer</button>
</div>
</form>
</div>
